@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
}

header,
footer {
  color: white;
}

span,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond";
}

h1 {
  font-family: "Italiana";
}
a {
  text-decoration: none;
  color: white;
}
ul {
  text-decoration: none;
  list-style: none;
}

input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 16px;
  font-family: "Cormorant Garamond";
}

input {
  border: 1px solid;
  padding: 5px 15px;
}

label {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  border: 1px solid;
  background-color: transparent;
  padding: 5px 15px;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  justify-items: center;

  height: 100vh;
  background: linear-gradient(rgba(74, 59, 62, 0.801), rgba(74, 59, 62, 0.808)),
    url(/src/assets/img/header.jpg) no-repeat top center;
  background-size: cover;
}

.header-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-family: "Mono Space";
  letter-spacing: 2px;
  margin-top: 15px;
}

.tlf-numbers {
  display: flex;
  gap: 20px;
}

.book-table {
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 20px;
}

.header-logo {
  height: 200px;
  width: 600px;
  background: url(/src/assets/img/logo-white.svg) no-repeat;
  background-size: contain;

  align-self: center;
}

.restaurant-status {
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.nav-bar {
  width: 100%;
  background-color: black;
  padding: 40px;
  font-size: 16px;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* MAIN */

.main {
  display: grid;

  grid-template-areas:
    "opening"
    "banner"
    "about us"
    "menu";
}
/* OPENING HOURS */

.opening-hours-container {
  grid-area: "hours";

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  color: black;
}

.opening-primary-text {
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
.opening-hours {
  display: flex;
}

.day-cell {
  text-align: center;
  padding-bottom: 35px;
}

.day-cell:not(:first-of-type) {
  padding-left: 30px;
}

.day-cell:not(:last-of-type) {
  border-right: 1px solid rgba(185, 185, 185, 0.5);
  padding-right: 30px;
}

.day {
  padding-top: 15px;
  margin-bottom: 45px;
}
.hours {
  font-weight: bold;
  padding: 10px;
}

.afternoon {
  position: relative;
}
.afternoon::before {
  position: absolute;
  width: 40%;
  height: 100%;
  content: "";

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 1px solid rgba(185, 185, 185, 0.5);
}

.opening-sub-text {
  border-top: 1px solid rgba(185, 185, 185, 0.5);
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.8px;
}

/* BANNER-BREAK */

.banner-break {
  grid-area: "banner";

  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(74, 59, 62, 0.801), rgba(74, 59, 62, 0.808)),
    url(/src/assets/img/banner.jpg) no-repeat center bottom/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-logo {
  height: 200px;
  width: 600px;
  background: url(/src/assets/img/logo-white.svg) no-repeat;
  background-size: contain;
}

/* TEXT/IMG SECTION */

.about-us {
  grid-area: "about";
  display: flex;
}

.text-square,
.img-square {
  width: 50%;
  height: 600px;
}

.text-square {
  padding: 40px 70px;
}

/* ABOUT US */
.about-us .text-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-align: center;
}
.about-us .text-square p {
  margin-top: 30px;
}

.about-us .img-square {
  background: url(/src/assets/img/food1.jpg) center -200px / cover;
}

/* MENU */

.menu {
  grid-area: "menu";

  display: flex;
}

.menu .img-square {
  background: url(/src/assets/img/food3.jpg) center bottom/cover;
}

.menu .text-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  text-align: center;
}

.menu-title {
  font-style: italic;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

/* RESERVATION */

.reservation {
  grid-area: "book";
  display: flex;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.reservation .img-square {
  background: url(/src/assets/img/food4.jpg) center bottom/cover;
}

.submit {
  margin: 0 140px;
  grid-column: 1 / -1;
}

/* FOOTER */

.footer {
  grid-area: "footer";
  padding: 30px;
  padding-bottom: 10px;
  background-color: rgb(74, 59, 62);
}

.footer h4 {
  font-size: 1.8rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-content > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 340px;
  /* border: 1px solid white; */
  padding: 20px;
}

.footer-informations {
  gap: 20px;
}
.address,
.contacts {
  width: 200px;
}
.address h4,
.contacts h4 {
  margin-bottom: 10px;
}

.footer-opening-hours {
  display: flex;
  gap: 15px;
}

.footer-days p {
  font-weight: 700;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer input {
  border: 1px solid white;
  background-color: white;
  width: 70%;
}
.footer .button {
  border: 1px solid white;
  color: white;
}

.contact-us {
  gap: 20px;
}
textarea {
  padding: 10px;
  width: 70%;
}

.author {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.github {
  display: inline-block;
  background-image: url("/src/assets/img/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 5px;
}
/* MEDIA QUERIES */
